@import "tailwindcss";

@theme {
  --color-accent: rgb(var(--colorAccent));
  --color-faint: rgb(var(--colorFaint));
  --color-error: rgb(248 113 113);
  --color-green: rgb(0 188 125);
}

html {
  --colorAccent: 59 130 246;
  --colorFaint: 220 220 220;

  --colorBg: 255 255 255;
  --colorText: 38 38 38;

  --colorIcon: 50 50 50;
}

html.dark {
  --colorBg: 40 40 40;
  --colorText: 255 255 255;
  --colorFaint: 70 70 70;
  --colorIcon: 212 212 212;
}

html,
body,
#__nuxt {
  width: 100%;
  height: 100%;
  color: rgb(var(--colorText));
  background-color: rgb(var(--colorBg));
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
